<%= form_with(model: knife, local: true) do |form| %>
  <% if knife.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(knife.errors.count, "error") %> prohibited this knife from being saved:</h2>

      <ul>
        <% knife.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :tag %>
    <%= form.text_field :tag %>
  </div>

  <div class="field">
    <%= form.label :url %>
    <%= form.text_field :url %>
  </div>

  <div class="field">
    <%= form.label :code %>
    <%= form.text_field :code %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
